-- Create tables only. Database is created by the app code.

-- ==========================
-- Accounts
-- ==========================
CREATE TABLE Accounts (
    AccountID INT IDENTITY(1,1) PRIMARY KEY,
    Email NVARCHAR(255) NOT NULL UNIQUE,
    FirebaseUID NVARCHAR(255) NOT NULL UNIQUE,
    MembershipType NVARCHAR(50),
    MaxDevices INT DEFAULT 0
);

-- ==========================
-- Books
-- ==========================
CREATE TABLE Books (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Title NVARCHAR(200) NOT NULL,
    Author NVARCHAR(100),
    Genre NVARCHAR(50),
    Year INT,
    ISBN NVARCHAR(20)
);

-- ==========================
-- Members
-- ==========================
CREATE TABLE Members (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    FirstName NVARCHAR(100) NOT NULL,
    LastName NVARCHAR(100) NOT NULL,
    Phone NVARCHAR(20),
    Email NVARCHAR(100)
);

-- ==========================
-- BorrowRecords
-- ==========================
CREATE TABLE BorrowRecords (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    MemberId INT NOT NULL,
    BookId INT NOT NULL,
    BorrowDate DATETIME NOT NULL DEFAULT GETDATE(),
    DueDate DATETIME NOT NULL,
    ReturnDate DATETIME NULL,
    OverdueFee DECIMAL(10, 2) DEFAULT 0,

    CONSTRAINT FK_Borrow_Book FOREIGN KEY (BookId) REFERENCES Books(Id),
    CONSTRAINT FK_Borrow_Member FOREIGN KEY (MemberId) REFERENCES Members(Id)
);

-- ==========================
-- DeviceSessions
-- ==========================
CREATE TABLE DeviceSessions (
    SessionID INT IDENTITY(1,1) PRIMARY KEY,
    AccountID INT NOT NULL,
    DeviceIdentifier NVARCHAR(255),
    LoginDate DATETIME DEFAULT GETDATE(),

    CONSTRAINT FK_DeviceSessions_Account FOREIGN KEY (AccountID)
        REFERENCES Accounts(AccountID)
);

-- ==========================
-- Settings
-- ==========================
CREATE TABLE Settings (
    SettingKey NVARCHAR(50) PRIMARY KEY,
    SettingValue NVARCHAR(50)
);

-- ==========================
-- Users
-- ==========================
CREATE TABLE Users (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Username NVARCHAR(50) NOT NULL UNIQUE,
    PasswordHash NVARCHAR(255) NOT NULL,
    CreatedAt DATETIME DEFAULT GETDATE()
);
